<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Python\python.exe"
                  arguments="-u %ROOTDRIVE%%ROOTPATH%\wsgi.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%ROOTDRIVE%%ROOTPATH%\logs\stdout.log"
                  stderrLogEnabled="true"
                  stderrLogFile="%ROOTDRIVE%%ROOTPATH%\logs\stderr.log"
                  startupTimeLimit="120"
                  startupRetryCount="10"
                  requestTimeout="00:04:00"
                  rapidFailsPerMinute="10">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%ROOTDRIVE%%ROOTPATH%" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
